*{
	padding: 0;
	margin: 0;
}
a{
	color: rgb(0, 0, 0);
	text-decoration: none;
}
header{
	
	background-color: rgb(192, 235, 220);
	padding: 30px;
	margin: 30px;
	text-align: center;
	color: rgb(0, 0, 0)
}
header h1{
	font-size: 55px;
	margin-bottom: 30px;
	font-family: "WDXL Lubrifont JP N", sans-serif;
  font-weight: 400;
  font-style: normal;
}
header p{
	font-size: 40px;
	margin-bottom: 30px;
	font-family: "WDXL Lubrifont JP N", sans-serif;
  font-weight: 400;
  font-style: normal;
}